.bcard {
    border: solid 1px #007ACC;
    width: 250px;
    height: 320px;
    margin: 10px;
    text-align: center;
    display: block;
    padding-top: 10px;
    box-sizing: border-box;
}

.img {
    height: 200px;
}

.info {
    height: 60px;
    max-height: 600px;
    
}

.clip {
    text-overflow: ellipsis;
}

.footer {
    height: 50px;
}

.bcard:hover {
    background-color: #D4E9FB;
}

