.container {
    padding: 30px 60px 30px 60px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #21A366;
    width: 100%;
}

.products {
    flex-wrap: wrap;
    background-color: #FFD661;
    width: 100%;
}
.description {
    max-height: 600px;
    background-color: #1A2744;
}

.form_label {
    text-align: right
}

.row_center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}