<div class="p-grid row_center" >
    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
    <input type="text" pInputText size="50" placeholder="Search by book title or author"
        [(ngModel)] = "searchText" style="width:auto">
    <button pButton  type="button" pButton icon="pi pi-check" (click)="search()" 
        label="Search" p-button-raised p-button-rounded>
    </button>
</div>
<br>

<div class="row_center" *ngIf="loading; else showdata">
    <p-progressSpinner></p-progressSpinner>
</div>
<ng-template #showdata>
    Total items: {{books.length}}
    <br>
    <div class="products row_center">
        <div  *ngFor="let book of books" >
            <app-book-card
                [book] = book
                [isDetail] = "false"
                (outputData)="onBookSelected($event)"
            >
            </app-book-card>
        </div>
    </div>
</ng-template>
<p-dialog header="Book Details" [(visible)]="displayDialog" 
    [responsive]="true" showEffect="fade" [modal]="true" 
    [closable]="true" [style]="{'width':'700px'}">
    <div class="ui-g ui-fluid" *ngIf="selectedBook">
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-6">
                <app-book-card
                [book] = selectedBook
                [isDetail] = "true"
                (outputData)="onBookSelected($event)"
                >
            </app-book-card>
            </div>
            <div class="p-col-12 p-md-6 p-lg-6 ">
                <p-scrollPanel [style]="{height: '300px'}">
                    {{selectedBook.description}}
                </p-scrollPanel>
            </div>
        </div>
        <br>
        <div class="p-grid card">
            <div class="p-col-12 p-md-4 p-lg-4 form_label">
                Delivery Sevice: 
            </div>
            <div class="p-col-12 p-md-8 p-lg-8">
                <p-selectButton [options]="deliveryservices"
                    [(ngModel)]="selectedDeliveryService"
                     optionLabel="label"
                     (onChange)="changeDeliveryService()"
                     >
                </p-selectButton>
            </div>
        </div>
        <br>
        <div class="p-grid card ">
            <div class="p-col-12 p-md-4 p-lg-4 form_label">
                Time Delivery: 
            </div>
            <div class="p-col-12 p-md-8 p-lg-8">
                <p-dropdown [options]="timeFactors"
                    (onChange)="changeFactor()" 
                    optionLabel="label"
                    [(ngModel)]="selectedTimeFactor">
                </p-dropdown>
                <!-- <div *ngFor="let factor of timeFactors" class="p-field-checkbox">
                    <p-radioButton inpudIt="factor.value" 
                        [value]="factor" 
                        [(ngModel)]="selectedCategory"
                        >
                    </p-radioButton>
                    <label [for]="factor.label">{{factor.label}}</label>
                </div> -->
                
            </div>
        </div>
        <br>
        <div class="p-grid card">
            <div class="p-col-12 p-md-4 p-lg-4 form_label">
                Cost: 
            </div>
            <div class="p-col-12 p-md-8 p-lg-8">
                {{buyConfirmKeys.cost}}
            </div>
        </div>
        <br>
        <div class="p-grid card">
            <div class="p-col-12 p-md-4 p-lg-4 form_label">
            </div>
            <div class="p-col-12 p-md-8 p-lg-8">
                (<b style="color: red">*</b>) Cost is based on delivery service and time to delivery
            </div>
        </div>
        <br>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="buy()" label="BUY"></button>
        </div>
    </p-footer>
</p-dialog>
